
*{
    margin:0;
    border:0;
    padding:0;
  }
  /*header*/
  header{
    width:100%;
    position:fixed;
   background:rgba(1,1,1,0.5); 
  }
  /**/
  nav {
    z-index:1;
  }
  ul {
    list-style: none;
  }
  nav li {
  /*   display: inline-block; */
    padding: 1rem;
    cursor: pointer;
  }
  nav li:hover {
    background: rgba(0,180,256,0.8);
  }
  .burguer-menu {
    padding: 1rem;
    display: inline-block;
  }
  .burguer-menu:hover {
    cursor: pointer;
     color: grey; 
  }
  #burguer-container {
    text-align: left;
  }
  #menu-options {
    display: none;
    text-align:center;
  }
  #menu-options.is-active {
    display: block;
  }
  /*  Medium devices (tablets, 768px and up) */
  @media (min-width: 768px) {
    #burguer-container {
      display: none;
    }
    #menu-options {
      display: block;
    }
    nav li {
      display: inline-block;
    }
  }
  
  .celeste{
    color:rgba(0,190,256,0.9);
  }
  /**/
  
  .left{
    margin-left:10%;
  }
  .nav{
    display:flex;
    flex-direction:row;
    justify-content:start;
  }
  p{
     font-size:140%;
  }
  ul{
    font-family:sans-serif;
    font-size:120%;
  }
  li{
    margin:auto 15px;
    background-color:rgba(128,128,128,0.1);
    border-radius:1rem;
    padding:5px;
    list-style:none;
  }
  li:hover{
  background-color:rgba(1,1,1,1);
  }
  a{
    color:white;
    text-decoration:none;
  }
  /*main*/
  main{
    width:100%;
    height:2800px;
  }
  /*primera fila*/
  .primera{
    height:600px;
    display:flex;
  justify-content:center;
    align-items:center;
    background-image:url("https://i.pinimg.com/originals/e1/26/d3/e126d318274739fbb93081612b4edbc3.jpg");
    background-position:center;
      background-repeat:no-repeat;
    background-size: cover;
    
  }
  /*segundo parrafo*/
  .segunda{
    display:flex;
     flex-direction:column;
    justify-content:center;
    align-items:center;
    text-align:center;
    height:auto;
    background:rgba(0,100,128,1);
  }
  .parrafo{
    width:auto;
     height:auto;
    padding:10px;
    color:white;
  }
  button{
    color:white;
    margin:10px auto;
    width:auto;
    height:36px;
    border-radius:0.5rem;
    background:rgba(220,220,220,0.51);
    border:black 1px;
  }
  /*tercer parrafo*/
  .tercera{
    margin:auto;
    display:flex;
    flex-wrap:wrap;
    items-align:center;
    height:auto;
    width:100%
  }
  .tarjeta{
    margin:5px auto;
    box-sizing:border-box;
    background-size:cover;
    background-repeat:no repeat;
    background-position:center;
    color:white;
    text-align:center;
    background-image:url('https://i.pinimg.com/originals/f0/8c/79/f08c796d0905bd7d3ec038140650a8fd.jpg');
  }
  .red{  
    background:rgba(228,10,50,0.7);
    z-index:1;
      width:100%;
      height:100%;
  }
  .gray{
    background:rgba(128,128,128,0.9);
    z-index:1;
    width:100%;
    height:100%;
  }
  .blue{
      background:rgba(100,190,256,0.7);
    z-index:1;
    width:100%;
    height:100%;
  }
  .text_center{
    margin:50px auto;
  }
  img{
    width:90px;
      height:90px;
  }
  .centrado{
    padding:15px;
  }
  /*cuarta fila*/
  .cuarto{
    text-align:center;
    height:auto;
    widht:100%;
  }
  .texto{
   color:rgba(128,128,128,1);
    font-weight:5;
    margin:2rem 8rem;
    padding:20px;
  }
  .cinco{
    display:flex;
    flex-wrap:wrap;
    justify-content:start;
    width:100%;
    height:auto;
  }
  .cuadro{
    text-align:center;
    font-size:80%;
    background-color:rgba(128,128,128,0.3);
    width:50%;
      height:150px;
    padding:5px;
    margin:10px auto;
    border-radius:1rem;
  }
  .cuadro:hover{
    background-color:rgba(25,120,128,0.8);
  }
  /*sexta fila*/
  .seis{
    display:flex;
    width:100%;
    height:auto;
    background-image:url('https://images6.alphacoders.com/368/368992.jpg');
    background-position:center;
      background-repeat:no-repeat;
    background-size: cover;
    
  }
  .black{
    color:black;
  }
  .recuadro{
    margin:20px auto;
    padding:5rem;
    font-weight:5;
     font-family:'Monserrat',Arial;
    text-align:center;
    width:60%;
      height:auto;
    background:rgba(128,128,128,0.8);
      border-radius:2rem;
  }
  .completar{
    margin:10px auto;
    border-radius:0.5rem;
    padding:10px;
    width:45%;
    height:2rem;
    display:inline-block;
  }
  .mensaje{
     margin:10px auto;
    border-radius:0.5rem;
    padding:10px;
    width:90%;
    height:100px;
  }
  .negro:hover{
   width:25%;
    height:52px;
    background-color:rgba(25,12,12,0.5);
  }
  /*borde*/
  .borde{
    display:flex;
      flex-direction:row;
    flex-wrap:no wrap;
    width:100%;
    height:200px;
    background-color:rgba(52,52,52,1);
  }
  
  /*siete*/
  .siete{
    display:flex;
    width:100%;
    height:460px;
    background-position:center;
    background-repeat:no-repeat;
    background-size: cover;
    background-image:url('https://i.ibb.co/NZNVtZS/google-maps.png');
  }
  .white{
    color:rgba(228,228,228,1);
  }
  .center{
    justify-content:center;
    align-items:center;
      text-align:center;
  }
  .etiqueta{
    margin:20px auto;
    padding:20px;
    width:300px;
      height:200px;
  }
  .achicar{
    display:inline;
    padding:1px;
    width:auto;
      height:auto;
  }
  .auto{
    height:auto;
  }
  
  /*media query*/
  /*extra_small*/
  @media (max-width:576px) and (min-width: 10px) {
    .extra_small{
     width:100%;
    }
    .nav{
      display:none;
    }
    
    .right{
    margin-left:40%;
  }
  
    
   }
  /*Medium devices (tablets, 768px and up)*/
  @media (max-width:768px) and (min-width: 577px){ 
     .small{
        width:75%;
    }
    .small2{
      width:40%;
    }
    .nav{
      display:none;
    }
  
     .right{
    margin-left:50%;
  }
  }
  /* Large devices (desktops, 992px and up)*/
  @media (max-width:992px) and (min-width: 769px) { 
     .table{
      width:50%;
    }
    .table2{
      width:45%;
    }
  }
  /* Extra large devices (large desktops, 1200px and up)*/
  @media (max-width:1200px) and (min-width: 993px) {
    .escritorio{
      width:33%;
    }
    .escritorio2{
      width:30%
    }
   }
  @media (min-width: 1201px) {
    .super_grande{
     width:33%;
    }
    .super_grande2{
      width:20%;
    }
  }
  
  .pointer{
    cursor:pointer;
  }